aus="funnelcake88"
dist_id="funnelcake88"
dist_version="1.0"
linux-i686=false
locales="en-US"
mac=false
win32=true

# Upload params
s3cfg=~/.s3cfg-mozilla
bucket="net-mozaws-prod-delivery-firefox"
# disable while we're iterating over the XPI, and manual upload to non-standard directory
# upload_to_candidates=true
